accelerate==1.10.1
aiofiles==24.1.0
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
beautifulsoup4==4.13.5
boto3==1.40.32
botocore==1.40.32
Brotli==1.1.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.3
cryptography==46.0.1
cycler==0.12.1
dill==0.4.0
distro==1.9.0
doclayout_yolo==0.0.4
fast-langdetect==0.2.5
fastapi==0.116.2
fasttext-predict==0.9.2.4
ffmpy==0.6.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.2
fsspec==2025.9.0
ftfy==6.3.1
gradio==5.46.0
gradio_client==1.13.0
gradio_pdf==0.0.22
groovy==0.1.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.0
humanfriendly==10.0
idna==3.10
imageio==2.37.0
Jinja2==3.1.6
jiter==0.11.0
jmespath==1.0.1
json_repair==0.50.1
kiwisolver==1.4.9
lazy_loader==0.4
loguru==0.7.3
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
mineru==2.2.2
modelscope==1.30.0
mpmath==1.3.0
networkx==3.5
numpy==2.3.3
omegaconf==2.3.0
onnxruntime==1.22.1
openai==1.107.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
orjson==3.11.3
packaging==25.0
pandas==2.3.2
pdfminer.six==20250506
pdftext==0.6.3
pillow==11.3.0
polars==1.33.1
protobuf==6.32.1
psutil==7.0.0
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycparser==2.23
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pyparsing==3.2.4
pypdf==6.0.0
pypdfium2==4.30.0
pyreadline3==3.5.4
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
regex==2025.9.1
reportlab==4.4.3
requests==2.32.5
rich==14.1.0
robust-downloader==0.0.2
ruff==0.13.0
s3transfer==0.14.0
safehttpx==0.1.6
safetensors==0.6.2
scikit-image==0.25.2
scipy==1.16.2
seaborn==0.13.2
semantic-version==2.10.0
shapely==2.1.1
shellingham==1.5.4
shiboken6==6.9.2
simsimd==6.5.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.48.0
stringzilla==4.0.11
sympy==1.14.0
thop==0.1.1.post2209072238
tifffile==2025.9.9
tokenizers==0.22.0
tomlkit==0.13.3
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.56.1
typer==0.17.4
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.201
ultralytics-thop==2.0.17
urllib3==2.5.0
uv==0.8.17
uvicorn==0.35.0
wcwidth==0.2.13
websockets==15.0.1
win32_setctime==1.2.0
